[data-accordion] dd {
  display: none;
  transition: 0.3s;
}

[data-accordion] dd.active {
  display: block;
  animation: accordion 0.3s forwards;
}

@keyframes accordion {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
