.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  display: none;
  z-index: 400;
}

.sidebar-content {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 20%;
}

.sidebar-element {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  position: relative;
  z-index: 300;
  justify-self: right;
  margin-top: 15px;
}

.bars {
  display: block;
  background: black;
  height: 4px;
  margin: 4px;
  width: 30px;
  border-radius: 2px;
}

@keyframes sideShow {
  from {
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.show-sidebar {
  display: block;
  animation: sideShow 0.3s forwards;
}

.links li {
  margin-bottom: 15px;
}

.links li a {
  font-size: 1.2rem;
  display: grid;
  padding: 10px 0px;
  padding-left: 5px;
  color: black;
}

.links li a:hover {
  background: rgba(0, 0, 0, 0.068);
}

@media (max-width: 820px) {
  .sidebar-content {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 35%;
  }
}
